@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    position: relative;
    background-color: #eee;
    margin: 0;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.header{
    background: #1473E6;
    background-image: radial-gradient(circle at 95.5% 31.2%, #180281 0px, transparent 50%), radial-gradient(circle at 11.5% 0%, #01F0AF 0px, transparent 50%);
    padding: 20px;
    border-radius: 20px 10px 20px 10px;
}

.text-blue{
    color: #1473E6;
}